@media(max-width:1200px){
    .slider__block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .popular__block{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .input__form+.input__form{
        margin-left: 0;
    }
    .input__form{
        margin-bottom: 20px;
    }
    .form__btn{
        margin-left: 0;
    }
    .remotely__block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .remotely__left{
        margin-bottom: 20px;
    }
    .solutions__block{
        justify-content: center;
    }
    .materials__block{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .copying__block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .copying__block-content{
        max-width: 100%;
    }
    .copying {
        padding-bottom: 5px;
    }
    .work__item:nth-child(even){
        margin-left: 0;
        padding-left: 0;
    }
    .work__item:nth-child(odd) .work__item-img,
    .work__item-img{
        left: 0;
    }
    .work__item:nth-child(odd)::after,
    .work__item::after{
        display: none;
    }
    .work__item:nth-child(odd){
        text-align: unset;
    }
    .work__item:nth-child(odd) .work__item-text,
    .work__item-text{
        margin-left: 65px;
    }
    .work__item-text,
    .work__item:nth-child(odd) .work__item-text{
        max-width: 250px;
    }
    .work__item:nth-child(odd) .work__item-text {
        padding-top: 10px;
    }
    .get__block{
        justify-content: center;
    }
    .table__top-title,
    .table__top-price,
    .table-main__title,
    .table-main__price,
    .table__bottom-title,
    .table__bottom-price{
        max-width: 100px;
    }
    .table-main__desc, 
    .table__top-desc, 
    .table__bottom-desc {
        max-width: 212px;
    }
    .palm__block{
        flex-wrap: wrap;
        justify-content: center;
    }
    .news__box{
        flex-wrap: wrap;
        justify-content: center;
    }
    .reviews__inner{
        justify-content: center;
    }
    .review__block{
        flex-wrap: wrap;
        justify-content: center;
    }
   
}



@media(max-width:550px){
    .slider__content-title{
        width: 300px;
        font-size: 24px;
        line-height: 28px;
    }
    .slider__content-text {
        width: 300px;
        font-size: 16px;
        line-height: 20px;
    }
    .organization__title{
        font-size: 22px;
        line-height: 26px;
    }
    .slider__content-btn{
        width: 300px;
        margin-bottom: 20px;
    }
    .slider__arrows {
        margin-right: auto;
        margin-top: 30px;
    }
    .organization__text {
        line-height: 24px;
        margin-bottom: 15px;
    }
    .organization{
        padding-top: 20px;
    }
    .popular__title{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .popular {
        padding-top: 25px;
        padding-bottom: 30px;
    }
    .popular__item-top img{
        height: 160px;
    }
    .popular__item-top{
        min-width: 310px;
    }
    .popular__item{
        max-width: 310px;
    }
    .popular__item-title{
        margin-top: 0;
    }
    .popular__item-link{
        margin-left: 10px;
    }
    .form__title{
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 26px;
    }
    .request {
        padding-top: 25px;
        padding-bottom: 50px;
    }
    .form{
        padding: 14px 21px 21px 21px;
    }
    .input__form,
    .form__btn{
        width: 100%;
        height: 45px;
        margin-bottom: 10px;
    }
    .form__text{
        margin-top: 5px;
        font-size: 12px;
        text-align: center;
    }
    .remotely__title{
        margin-bottom: 15px;
        font-size: 22px;
        line-height: 28px;
    }
    .remotely__left::after,
    .remotely__right::after{
        right: 0;
        top: 60px;
        width: 230px;
        height: 230px;
    }
    .remotely__left-title, 
    .remotely__right-title {
        padding: 15px;
        font-size: 18px;
        line-height: 22px;
    }
    .remotely__left,
    .remotely__right{
        height: 290px;
    }
    .remotely__block{
        margin-bottom: 50px;
    }
    .solutions__title{
        font-size: 22px;
        margin-bottom: 25px;
    }
    .solutions {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .solutions__item-top img {
        height: 140px;
    }
    .solutions__item{
        max-width: 310px;
    }
    .solutions__item-top{
        min-width: 310px;
    }
    .solutions__item-title {
        margin-top: 0;
    }
    .solutions__item-link{
        margin-left: 15px;
    }
    .materials__title{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .materials {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .materials__item-text {
        margin-bottom: 0;
    }
    .materials__item-top{
        padding-bottom: 0;
    }
    .form__subtitle{
        font-size: 16px;
        line-height: 20px;
        margin-top: 10px;
    }
    .footer__inner{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }
    .footer__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer__menu-item,
    .footer__list-item,
    .footer__item-address{
        text-align: center;
    }
    .footer__item-address::before{
        left: 30px;
    }
    .footer{
        padding-bottom: 25px;
    }
    .slider__arrows.page{
        margin-top: -5px;
    }
    .slider__content-text.page{
        margin-bottom: 20px;
    }
    .slider__content-btn.page{
        margin-bottom: 0;
    }
    .breadcrumbs__list-link{
        font-size: 12px;
        line-height: 16px;
    }
    .breadcrumbs{
        padding-top: 10px;
    }
    .breadcrumbs__list-item::after{
        top: 8px;
    }
    .copying__title{
        font-size: 22px;
        margin-bottom: 10px;
    }
    .copying__block-content,
    .copying__block-text,
    .copying__subtitle-text{
        font-size: 16px;
        margin-bottom: 15px;
    }
    .copying__subtitle{
        font-size: 22px;
    } 
    .work__title{
        margin-bottom: 20px;
        font-size: 22px;
        line-height: 28px;
    } 
    .work{
        padding-bottom: 15px;
    }
    .work__item:last-child{
        margin-bottom: 20px;
    }
    .get__title{
        font-size: 22px;
        margin-bottom: 35px;
    }
    .get {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .get__item-text{
        font-size: 16px;
        line-height: 24px;
    }
    .get__block{
        gap: 40px;
    }
    .table__top-title,
    .table__top-price,
    .table-main__title,
    .table-main__price,
    .table__bottom-title,
    .table__bottom-price{
        max-width: 40px;
        font-size: 12px;
        line-height: 18px;
    }
    .table-main__desc, 
    .table__top-desc, 
    .table__bottom-desc {
        max-width: 52px;
        font-size: 12px;
        line-height: 16px;
    }
    .table__bottom,
    .table__top,
    .table-main{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .table {
        padding-bottom: 30px;
    }
    .palm__content-title{
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .palm__content-text{
        font-size: 18px;
        line-height: 26px;
    }
    .news__title{
        margin-bottom: 25px;
        font-size: 22px;
        line-height: 28px;
    }
    .news__item-title{
        font-size: 18px;
    }
    .news__item-date,
    .news__item-text{
        font-size: 16px;
    }
    .page-reviews__slider-item{
        width: 290px;
    }
    .page-reviews {
        padding-top: 35px;
        padding-bottom: 60px;
    }
    .page-reviews__title{
        margin-bottom: 10px;
        font-size: 22px;
    }
    .reviews__title-top{
        font-size: 22px;
        margin-bottom: 0;
    }

    .reviews__inner .reviews__item{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .page-numbers{
        padding: 0px 5px;
    }
    .pagination .prev::after, 
    .pagination .next::after{
        left: -20px;
    }
    .slider__arrows.reviews,
    .slider__arrows.review{
        margin-top: -5px;
    }
    .review__title{
        margin-bottom: 30px;
        font-size: 22px;
    }
    .review__block-content{
        margin-top: 20px;
    }
    .review__block-date{
        margin-bottom: 10px;
    }
    .review__block-text,
    .review__block-date{
        font-size: 16px;
        line-height: 26px;
    }
    .review__block{
        padding-bottom: 0;
    }
    .slick-next::before{
        left: 100px;
    }
    .slick-prev::after{
        left: 155px;
    }
}